#employment_map {
	top:100px;
	left: 350px;
	right: 100px;
	height: 900px;
	width: 600px;
}
div.desc {
  position: relative;
  left: 370px;
  height: 300px;
}

.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}